{% extends 'main/layout.html' %}
{% block title %}Дорожные карты{% endblock %}
{% block content %}
<div class="border">
  <div class="border-b bg-#2c2c2c pb-5 pt-6 sm:pb-10 sm:pt-12">
    <div class="container">
      <h1>Дорожные карты</h1>
      <p>
В этом разделе представлены дорожные карты для различных специализаций в области программирования. Здесь вы найдете упорядоченные планы развития, которые охватывают Backend-разработку, Full-stack разработку, Android-разработку и другие специализации. Эти дорожные карты помогут вам определить основные компетенции и навыки, необходимые для успешного старта и развития в выбранной области.    </div>
      </p>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">

      {% load static %}
      <a href = "{% static 'main/roadmaps/specialisation/backend.pdf' %}" target="_blank" >
    <div class="col-4">
      <div class="card">
        {% load static %}
        <img
          src="{% static 'main/img/cards/special/backend.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">Backend разработчик</h3>
          <p class="card-text">
            Это специалист, который занимается разработкой и поддержкой серверной части веб-приложений. Они создают и оптимизируют базы данных, управляют бизнес-логикой и обеспечивают взаимодействие между фронтендом и сервером. Если вы интересуетесь архитектурой, безопасностью и скоростью работы веб-приложений, станьте Backend разработчиком.
          </p>
        </div>
      </div>
    </div>
      </a>
        {% load static %}
      <a href = "{% static 'main/roadmaps/specialisation/frontend.pdf' %}" target="_blank" >
    <div class="col-4">
      <div class="card">
        {% load static %}
        <img
          src="{% static 'main/img/cards/special/frontend.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">Frontend разработчик</h3>
          <p class="card-text"></p>
          <p class="card-text">
            Это специалист, который занимается созданием пользовательского интерфейса веб-приложений. Они преобразуют дизайн в интерактивные элементы, управляют анимациями и оптимизируют визуальную часть приложений. Если вы увлечены дизайном, пользовательским опытом и созданием красивых веб-страниц, станьте Frontend разработчиком.
          </p>
        </div>
      </div>
    </div>
      </a>
        {% load static %}
      <a href = "{% static 'main/roadmaps/specialisation/full-stack.pdf' %}" target="_blank" >
    <div class="col-4">
      <div class="card">
        {% load static %}
        <img
          src="{% static 'main/img/cards/special/full-stack.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">Full-stack разработчик</h3>
          <p class="card-text"></p>
          <p class="card-text">
            Это специалист, который имеет навыки и опыт как в Backend, так и в Frontend разработке. Они могут работать с базами данных, серверной логикой, а также создавать пользовательские интерфейсы и управлять клиентской частью. Если вы хотите быть всесторонним разработчиком, способным разрабатывать полноценные веб-приложения с нуля, станьте Full-Stack разработчиком.
          </p>
        </div>
      </div>
    </div>
      </a>
  </div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 roww-2">
      {% load static %}
      <a href = "{% static 'main/roadmaps/specialisation/android.pdf' %}" target="_blank" >
    <div class="col-4">
      <div class="card">
        {% load static %}
        <img
          src="{% static 'main/img/cards/special/android.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">Android разработчик</h3>
          <p class="card-text">
              Это специалист, который занимается созданием мобильных приложений для операционной системы Android. Они разрабатывают пользовательский интерфейс, обеспечивают взаимодействие с аппаратной частью устройств и оптимизируют производительность приложений. Если вы увлечены разработкой мобильных технологий и хотите создавать инновационные приложения для Android, станьте Android разработчиком.
          </p>
        </div>
      </div>
    </div>
      </a>
      {% load static %}
      <a href = "{% static 'main/roadmaps/specialisation/devops.pdf' %}" target="_blank" >
    <div class="col-4">
      <div class="card">
        {% load static %}
        <img
          src="{% static 'main/img/cards/special/devops.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">DevOps Инженер</h3>
          <p class="card-text"></p>
          <p class="card-text">
              Это специалист, который сочетает в себе навыки разработки и системного администрирования, с целью автоматизации процессов разработки и внедрения программного обеспечения. Они создают среды непрерывной интеграции и доставки, управляют контейнерами и обеспечивают высокую доступность приложений. Если вы хотите заниматься автоматизацией и оптимизацией процессов разработки, станьте DevOps инженером.
          </p>
        </div>
      </div>
    </div>
      </a>
      {% load static %}
      <a href = "{% static 'main/roadmaps/specialisation/cyber-security.pdf' %}" target="_blank" >
    <div class="col-4">
      <div class="card">
        {% load static %}
        <img
          src="{% static 'main/img/cards/special/cybersecurity.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">Специалист по <br> кибербезопасности</h3>
          <p class="card-text"></p>
          <p class="card-text">
              Это эксперт, который обеспечивает безопасность информационных систем и данных от кибератак и угроз. Они проводят анализ уязвимостей, разрабатывают стратегии защиты и контролируют безопасность сетей. Если вам интересны компьютерная безопасность и защита от киберугроз, станьте специалистом по кибербезопасности.          </p>
        </div>
      </div>
    </div>
      </a>
  </div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 roww-2">
      {% load static %}
      <a href = "{% static 'main/roadmaps/specialisation/qa.pdf' %}" target="_blank" >
    <div class="col-4">
      <div class="card">
        {% load static %}
        <img
          src="{% static 'main/img/cards/special/qa.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">QA Инженер</h3>
          <p class="card-text">
            Это специалист, ответственный за контроль качества программного обеспечения. Они тестируют и анализируют приложения, обнаруживают ошибки и помогают обеспечить высокую производительность и надежность программного продукта. Если вы увлечены поиском дефектов и обеспечением безупречной работы приложений, станьте QA инженером.          </p>
        </div>
      </div>
    </div>
      </a>
      {% load static %}
      <a href = "{% static 'main/roadmaps/specialisation/postgresql-dba.pdf' %}" target="_blank" >
    <div class="col-4">
      <div class="card">
        {% load static %}
        <img
          src="{% static 'main/img/cards/special/postgre.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">PostgreSQL DBA</h3>
          <p class="card-text"></p>
          <p class="card-text">
            Это специалист, который управляет и обеспечивает безопасность баз данных на основе PostgreSQL. Они создают, оптимизируют и поддерживают базы данных, а также управляют резервным копированием и восстановлением данных. Если вас интересует администрирование баз данных и обеспечение их надежности, станьте администратором баз данных PostgreSQL.          </p>
        </div>
      </div>
    </div>
      </a>
      {% load static %}
      <a href = "{% static 'main/roadmaps/specialisation/ux-design.pdf' %}" target="_blank" >
    <div class="col-4">
      <div class="card">
        {% load static %}
        <img
          src="{% static 'main/img/cards/special/ux.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">UX-Designer</h3>
          <p class="card-text"></p>
          <p class="card-text">
            Это специалист, который занимается проектированием интерфейсов и пользовательского опыта веб-приложений и мобильных приложений. Они уделяют особое внимание удобству использования, визуальному оформлению и интерактивности приложений. Если вы хотите создавать интерфейсы, которые будут приятными и интуитивно понятными для пользователей, станьте специалистом по дизайну пользовательского опыта (UX Design).        </div>
      </div>
    </div>
      </a>
  </div>
</div>
<div class="container">{% endblock %}</div>
