{% extends 'main/layout.html' %}


{% block title %}Про нас{% endblock %}
{% block content %}
    <div class="border">
  <div class="border-b bg-#2c2c2c pb-5 pt-6 sm:pb-10 sm:pt-12" style="text-align: left; font-size: 20px">
    <div class="container">
       <h1 style="text-align: center; font-size: 60px">О нас</h1><br>
        <h3>Добро пожаловать на наш сайт "IT Road"!</h3> <br>
        <p>Наш сайт представляет собой уникальный ресурс для всех, кто интересуется миром информационных технологий. Здесь вы найдете разнообразные дорожные карты, помогающие определить ваш профессиональный путь в IT-сфере.<br><br> Как новичок, вы сможете использовать наши дорожные карты для выбора наиболее подходящего языка программирования, специализации или технологии. Начните с основ и развивайтесь до опытного разработчика, без потери направления.<br><br>
            Если вы уже работаете в IT, наши дорожные карты помогут вам совершенствовать навыки, ознакомиться с новыми технологиями и стать еще более востребованным специалистом.<br><br> Узнайте, какие технологии будущего следует освоить уже сегодня, чтобы быть впереди конкурентов. Независимо от вашего уровня опыта, IT Roadmaps поможет вам обозначить курс на успех в увлекательном мире IT!
        </p>
    </div>
  </div>
</div>
{% endblock %}