{% extends 'main/layout.html' %} {% block title %}{{ title }}{% endblock %} {%block content %}
<div class="features main_page">
    <div class="intro">
        <div class="video">
            {% load static %}
     <video
             src="{% static 'main/video/neon.mp4'  %}" class = "video_media" autoplay muted loop>
     </video>

        </div>
        <div class = "intro_content">
                <div class="container">
                    <h1>У самурая нет цели, есть только путь.</h1>
                  <p>
                    Хотите начать свой путь в IT? <br/>
                    Этот сайт предлагает дорожные карты для выбора языков программирования, специализаций и технологий в IT. <br> Найдите свой идеальный путь в мире информационных технологий и достигните успеха в своей карьере!
                  </p>
                  <a href="{% url 'login' %}" target="_self" class="btn btn-primary btn-lg">
                    Начать путь
                  </a>
                </div>
        </div>
    </div>
</div>

{% endblock %}
