{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Дорожные карты{% endblock %}
{% block content %}
<div class="border">
  <div class="border-b bg-#2c2c2c pb-5 pt-6 sm:pb-10 sm:pt-12">
    <div class="container">
      <h1>Дорожные карты</h1>
      <p>
          В этом разделе вы найдете комплексные руководства и планы развития в области информационных технологий. Они помогут вам определить ключевые навыки и компетенции для успешной карьеры в IT, независимо от вашего уровня опыта. Используйте дорожные карты, чтобы планировать свой профессиональный рост и достичь успеха в IT-индустрии. <br>Все карты взяты с сайта <a href="https://roadmap.sh/">roadmap.sh</a>
      </p>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
      <a href = "{% url 'language' %}" target="_self" >
    <div class="col-4">
      <div class="card">
        {% load static %}
        <img
          src="{% static 'main/img/cards/languages.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">Языки программирования</h3>
          <p class="card-text">
            Здесь вы найдете дорожные карты для различных языков программирования. Изучите популярные языки, такие как JavaScript, Python, Java, C#, Ruby и многие другие. Каждая дорожная карта поможет вам понять, с чего начать и как развиваться в выбранном языке программирования.
          </p>
        </div>
      </div>
    </div>
      </a>
      <a href = "{% url 'track' %}" target="_self" >
    <div class="col-4">
      <div class="card">
        <img
          src="{% static 'main/img/cards/scecialisation.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">Специализация</h3>
          <p class="card-text"></p>
          <p class="card-text">
            На этой странице вы найдете дорожные карты для различных специализаций в IT. Изучите пути "Backend developer", "Frontend developer", "DevOps Engineer" и другие. Каждая дорожная карта поможет вам определиться с выбором специализации и узнать, какие навыки и знания вам понадобятся, чтобы стать профессионалом в выбранной области.
          </p>
        </div>
      </div>
    </div>
      </a>
      <a href = "{% url 'other' %}" target="_self" >
    <div class="col-4">
      <div class="card">
        <img
          src="{% static 'main/img/cards/cs.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">Разное</h3>
          <p class="card-text"></p>
          <p class="card-text">
            Здесь вы найдете дорожные карты для различных тем, связанных с информатикой. Изучите области, такие как "Computer Science" и "SQL". Каждая дорожная карта поможет вам углубить знания в выбранной области и понять, какие уровни компетенции можно достичь.
          </p>
        </div>
      </div>
    </div>
      </a>
  </div>
</div>
<div class="container">{% endblock %}</div>
