.card {
  width: 400px; /* Установите ширину карточки */
  /*height: 600px; !* Установите высоту карточки *!*/
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; /* Обрезать содержимое, чтобы изображение не выходило за пределы карточки */
  transition: transform 0.3s; /* Добавить переход при изменении трансформации */

}
.card img {
  width: 100%; /* Установите 100% ширины для изображения */
  height: 100%; /* Установите 100% высоты для изображения */
  object-fit: cover; /* Масштабируйте изображение, чтобы оно полностью заполнило блок img */
  border-radius: 5px; /* Добавьте закругление углов для изображения (по желанию) */
}
.card:hover {
  transform: scale(1.1); /* Увеличение карточки на 10% при наведении */
}
.row {
      margin-top: 20px; /* Задайте желаемый отступ сверху в пикселях (или другой единице измерения) */
}
a {
    color: black;
    text-decoration-line: none;
    text-align: justify;
}